body {
    font-size: 20px;
    font-family: Garamond, serif;
    margin: 0;
    padding: 0;
}

h1 {
    
    font-family: Garamond;
    text-align: center;
    font-size: 3em;
    padding: 5.3em 0px 0px 0px;
    color: #524E4A;
    margin: 0px;
    border: 0px;
    z-index: 10;
    position: static;
    

}

#titlegames {
    
    font-family: Garamond;
    text-align: center;
    font-size: 3em;
    padding: 5.5em 0px 0px 0px;
    color: #e8ca1e;
    margin: 0px;
    border: 0px;
    z-index: 10;
    position: static;
    
}

#titleanime {
    
    font-family: Garamond;
    text-align: center;
    font-size: 3em;
    padding: 2em 0px 0px 0px;
    color: #e25ad8;
    margin: 0px;
    border: 0px;
    z-index: 10;
    position: static;
    
}

#titlecartoons {
    
    font-family: Garamond;
    text-align: left;
    font-size: 3em;
    padding: 4.5em 0px 0px 0px;
    color: black;
    border: 0px;
    z-index: 10;
    position: static;
    margin-left: 210px;
    
}

h2 {
    font-family: Garamond;
    font-style: italic;
    text-align: center;
    font-size: 2em;
    color: #955C1B;
    margin: 0;
    font-weight: 100;
    position: relative;
    z-index: 10;
}

#subtitlegames {
    
    font-family: Garamond;
    font-style: italic;
    text-align: center;
    font-size: 2em;
    color: white;
    margin: 0;
    font-weight: 100;
    position: relative;
    z-index: 10;
}

#subtitleanime {
    
    font-family: Garamond;
    font-style: italic;
    text-align: center;
    font-size: 2em;
    color: lightgoldenrodyellow;
    margin: 0;
    font-weight: 100;
    
    z-index: 10;
}

#subtitlecartoons {
    
    font-family: Garamond;
    font-style: italic;
    text-align: left;
    font-size: 2em;
    color: white;
    font-weight: 100;
    
    z-index: 10;
    margin-left: 220px;
    
}

.header li {
    display: inline-block;
    padding: 0px 10px 0px 10px;
    color:#F3F1EF;
    font-family: Garamond;
    font-size: 1em;
    font-weight: 100;
    border: solid;
    border-color: #F3F1EF;
    background-color: black;
    border-radius: 25px; 
    border-width: thin;
    opacity: 0.4;
}

a:link {
    color:#F3F1EF;
    font-family: Garamond;
    font-size: 1em;
    font-weight: 100;
    text-decoration: none;
    
}

a:visited {
    color: aquamarine;
    font-family: Garamond;
    font-size: 1em;
    font-weight: 100;
    text-decoration: none;
}


h3 {
    font-size: 1.4em;
    text-align: center;
    font-family: "Palatino Linotype", serif;
    font-weight: 100;
    margin: 0px;
    padding: 200px 0px 20px 0px;
    text-decoration: underline;
    font-weight: 100;
    font-style: italic;
}



.about {
    background-color: white;
}

.about p {
    font-size: 0.9em;
    text-align: center;
    font-family: "Palatino Linotype", serif;
    font-weight: 100;
    margin: 0px 200px;
    padding-bottom: 20px;
    word-spacing: 0.2em;
}

#broccoli {
    display: block;
    margin: auto;
    height: 300px;
    width: 300px;
    padding: 20px;
    
}

 .landingindex {
    background-image: url(https://wallpapercave.com/wp/xEEK5MK.jpg);
    background-size: cover;
    background-position: center center;
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
     -o-filter: blur(5px);
    -ms-filter: blur(5px);*/
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 100%;
    height: 800px;
    text-align: left;
}

.landinggames {
    background-image: url(https://image.redbull.com/rbcom/010/2014-05-12/1331650629196_2/0010/1/1500/1000/1/mario-kart-8-is-here-8-tips-to-win-pole-position.jpg);
    background-size: cover;
    background-position: center center;
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
     -o-filter: blur(5px);
    -ms-filter: blur(5px);*/
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 100%;
    height: 800px;
}

.landinganime {
    background-image: url(http://i.imgur.com/Ocy5OyR.jpg);
    background-size: cover;
    background-position: center center;
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
     -o-filter: blur(5px);
    -ms-filter: blur(5px);*/
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 100%;
    height: 800px;
}

.landingcartoons {
    background-image: url(https://i.ytimg.com/vi/aCvSJMehD54/maxresdefault.jpg);
    background-size: cover;
    background-position: center center;
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
     -o-filter: blur(5px);
    -ms-filter: blur(5px);*/
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 100%;
    height: 800px;
    text-align: left;
}

.header {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    position: fixed;
    z-index: 8;
}

.wrap {
    width: 1349px;
}
/*
.categories p {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0px;
    padding: 170px 0px;
    text-align: center;
    border: 0px;
    font-size: 2em;
    max-width: 34%;
}

.categories .games {
    background-image: url(http://cdn1.sciencefiction.com/wp-content/uploads/2016/11/legend-zelda-netflix-tv-series.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    max-width: 33%;
    float: left;
    color: #f7e77e;
}

.categories .anime {
    background-image: url(http://vignette4.wikia.nocookie.net/shingekinokyojin/images/c/cc/Ian_saves.jpg/revision/latest?cb=20161212024341);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 34%;
    max-width: 34%;
    align-content: center;
    color: #f7e77e;
}

.categories .cartoons {
    background-image: url(http://i.imgur.com/GGcfSOu.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    max-width: 33%;
    float: right;
    color: #f7e77e;
}
*/
